* {
  margin: 0;
  padding: 0;
  font-family: "Barlow"; }

.grey {
  position: absolute;
  background-color: #eef3f6;
  border-radius: 0 0 0 55px;
  z-index: -1;
  width: 50%;
  height: 30%;
  top: 0;
  right: 0px; }
  @media (max-width: 1024px) {
    .grey {
      height: 50%; } }

.menu {
  margin: 10px; }
  .menu .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem; }
    .menu .navbar input[type=checkbox] {
      display: none; }
    .menu .navbar .dropdownclose {
      visibility: hidden; }
    .menu .navbar ul {
      width: 48vw; }
      @media (max-width: 1024px) {
        .menu .navbar ul {
          display: none;
          z-index: 1;
          width: 60vw;
          margin-top: 10%;
          padding: 3rem;
          height: auto;
          box-shadow: -2px 2px 8px #a0a1ac;
          border-radius: 5px;
          background-color: #fff;
          position: absolute;
          left: 5%; } }
      .menu .navbar ul li {
        padding: 1rem; }
        .menu .navbar ul li a {
          color: #242942;
          width: 100%;
          text-align: center;
          font-size: 24px;
          text-align: center; }
      @media (max-width: 1024px) {
        .menu .navbar ul .list--grey {
          display: none; } }
      @media (max-width: 1024px) {
        .menu .navbar ul .list--bordertop {
          border-top: 1px solid #a0a1ac;
          margin-top: 2rem; } }
      .menu .navbar ul .list--bordertop a {
        color: #a0a1ac; }
    .menu .navbar .dropdowntoggle {
      display: none; }
      @media (max-width: 1024px) {
        .menu .navbar .dropdowntoggle {
          display: block;
          margin-right: 30px;
          margin-top: 20px; } }
    .menu .navbar input[type=checkbox]:checked ~ ul {
      display: block; }
    .menu .navbar input[type=checkbox]:checked ~ .dropdowntoggle {
      visibility: hidden; }
    .menu .navbar input[type=checkbox]:checked ~ .dropdownclose {
      visibility: visible;
      margin-right: 30px; }

.section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  margin-top: 5rem;
  padding-left: 3rem; }
  .section span {
    font-size: 16px;
    color: #a0a1ac; }
  @media (max-width: 1024px) {
    .section {
      display: flex;
      flex-direction: column-reverse;
      font-size: 18px; } }

h4 {
  width: 750px;
  font-size: 68px;
  color: #242942;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 36px;
      max-width: 100%;
      font-weight: 800; } }

P {
  font-size: 35px; }

.buton__1 {
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  background-color: #242942;
  border: none;
  margin-right: 25px;
  padding: 0px 10px; }

.button__2 {
  border-radius: 10px;
  width: 20%;
  height: 50px;
  background-color: #ff5c5c;
  border: none;
  color: white;
  margin-top: 30px;
  margin-right: 20px; }
  @media (max-width: 1024px) {
    .button__2 {
      width: 40%;
      height: 50px; } }

.PART2 {
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 1/2; }

.list {
  display: flex;
  list-style: none; }
  .list a {
    color: #5b5f71;
    text-decoration: none;
    font-weight: 600;
    margin-right: 1em; }
    .list a:hover {
      text-decoration: underline; }
    @media (max-width: 1024px) {
      .list a {
        margin-right: 0px;
        margin-left: 3rem; } }
  .list__1 a {
    color: #242942;
    font-size: 20px;
    margin-left: 50px;
    list-style: none;
    text-decoration: none; }
  .list__1--listLogin {
    color: #a0a1ac; }
    .list__1--listLogin a {
      color: #a0a1ac;
      font-weight: 600; }
  .list__1--listPoint {
    color: #a0a1ac;
    position: relative;
    font-size: 8px;
    left: 20px;
    top: 10px; }

@media (max-width: 1024px) {
  .img {
    width: 100%; } }

.img__1 {
  width: 135%; }

@media (max-width: 1024px) {
  .grid {
    margin-left: 10px;
    margin-top: 80px; } }
