* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow';

}

.section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.PART1 {
    grid-column: 1/2;
    grid-row: 1/2;

    .but {
        margin-top: 250px;
    }

    h3 {
        font: weight 400;
        ;
        font-size: 70px;
        font-family: 'Barlow';
        color: hsl(230, 29%, 20%);
    }

    .PART2 {
        grid-column: 2/3;
        grid-row: 1/2;

    }

    .buton1 {
        color: #ffffff;
        border-radius: 30px;
        width: 8%;
        height: 20px;
        background-color: hsl(230, 29%, 20%);
        border: none;

    }

    .buton2 {
        color: "#ffffff";
        border-radius: 10px;
        width: 30%;
        height: 45px;
        background-color: hsl(0, 100%, 68%);
        border: none;
    }

    // h3 {
    //     // font-weight: 700;
    //     font-size: 80px;
    //     font-family: 'Barlow';
    //     color: hsl(230, 29%, 20%);

}

.list {
    display: flex;
    margin-left: 180px;
    margin-top: 100px;
    background-color: hsl(207, 33%, 95%);
    width: 100%;
    height: 100%;


    &__1 {
        a {

            color: hsl(230, 29%, 20%);
            font-size: 30px;
            margin-left: 40px;
            list-style: none;
        }


        &--listLogin {
            color: hsl(231, 7%, 65%);
            margin-left: 30px;
            margin-bottom: 90px;

            a {
                color: hsl(231, 7%, 65%);

            }
        }
    }

    .img {
        width: 30%;

        &__1 {
            position: relative;
            left: 90px;
            width: 30%;

        }
    }

}